
:root {
  font-size:18px;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
input {
  background-color: var(--hf-color-gray-0);
}

body {
  margin: 0;
  height: 100vh;
  color: var(--hf-color-surface-text);
  background-color: var(--hf-color-gray-0);
  font-family: 'Helvetica Neue', Arial;
}

h1,h2,h3,h4,h5,h6 { 
  font-weight: 700;
}
h1 {font-size:var(--hf-font-size-xl);}
h2 {font-size:var(--hf-font-size-lg);}
h3 {font-size:var(--hf-font-size-md);}
h4, h5 {font-size:var(--hf-font-size-default);}
h6 {font-size:var(--hf-font-size-min);}

