---
layout: component
title: Accordion
sub-title: A component for displaying collapsible content.
description: |
  ## Notes
  The accordion contains only details/summary elements.

  If the `auto-close` attribute is set, only one item can be expanded at a time. 
  If not set, multiple items can be expanded simultaneously. 
---

<hf-accordion>
    <details>
        <summary>Summary</summary>
        <p>Details about this thing</p>
    </details>
    <details>
      <summary>Summary</summary>
      <p>Details about this thing</p>
    </details>
</hf-accordion>